<div class ="container">
<h1>Species saved!</h1>

<p>Your new species has been saved</p>

<p><a href="/species/<%= @species.id %>">View <%= @species.name %></a></p>
<p><a href="/species">Return to species list</a></p>
</div>
